open: {id:"dataoke-list",name:"大淘客",link:"input",expire:"{date:'20190720',message:'运行异常'}",timeout:15,threads:1,major:true,brower:"chrome",remark:"大淘客：http://www.dataoke.com/qlist/?px=zh&page=4"}
  list: {xpath:"//div[@class='goods-list clearfix']/div"}
    click:{xpath:"/div[1]/div[@class='goods-info']/div[@class='goods-qjy']/div/p"}
    text: {xpath:"/div[1]/div[@class='goods-info']/div[@class='goods-qjy']/div/p",name:"卷后价",regex:"replace|￥",params:""}
    text: {xpath:"/div[1]/div[@class='goods-info']/div[@class='goods-sale clearfix']/div[@class='goods-quan fl']/p/b",name:"劵",regex:"replace|￥",params:""}
    text: {xpath:"",attribute:"id",name:"商品ID",regex:"match|(?<=_)(.*)",show:false}
    text: {xpath:"",name:"原价",handler:"DaTaoKePrice"}
    text: {xpath:"",name:"商品链接",handler:"DaTaoKeProduct"}
    text: {xpath:"/div[1]/div[@class='goods-info']/div[@class='goods-author']/span[@class='goods_team_name']",name:"店铺ID",attribute:"data_tk_zs_id",show:false}
    text: {xpath:"/div[1]/div[@class='goods-info']/div[@class='type']/span[@class='margin-num qlist-shop']",name:"店铺名称",handler:"DaTaoKeShop"}
